<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ list.name }}</h1>
            <h2>Task</h2>
            <table>
                <thead>
                    <tr>
                        <td>
                            Tasks
                        </td>
                        <td>
                            Due date
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>
                            {{ item.task }}
                        </td>
                        <td>
                            {{ item.due_date }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    
</body>
</html>
